{% extends "base/base.html.twig" %}

{% block title 'Register'%}

{% block body %}

    <div class="row my-5">
        <div class="col-6 mx-auto card bg-white border-info shadow">
            <h1 class="h2 text-center my-3">Registration</h1>
            <hr class="mx-auto mb-4 w-75">

            {{ form_start(registerForm)}}

            <div class="row">
                <div class="col-6">
                    {{ form_row(registerForm.firstname)}}
                </div>
                <div class="col-6">
                    {{ form_row(registerForm.lastname)}}
                </div>
            </div>

            {{ form_row(registerForm.email)}}

            {{ form_row(registerForm.password)}}

            <div class="d-grid">
                <button type="submit" class="btn btn-info mt-3 mb-3">Register me !</button>
            </div>

            {{ form_end(registerForm)}}
        </div>

    </div>


{% endblock %}
